.form {
    margin: 0 auto;
    border: 7px double brown;
    height: 900px;
    width: 820px;
    border-bottom: 60px solid #070626;
    border-left: 60px solid #070626;
    border-right: 60px solid #070626;
    border-top: 20px solid #070626;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding-top: 0px;
    top: 0;
}
h1 {
    color: #0066B3;
    font-style: oblique;
    text-align: center;
}
.logo1 {
    margin: 0 auto;
    width: 375px;
}
.info1 {
    color: #99CA3C;
    font-weight: bold;
    font-size: 27px;
    font-style: oblique;
    float: left;
    margin-left: 25px;
}
b {
    font-weight: bold;
    font-style: oblique;
    font-size: 27px;
    color: #0066B3;
}
.info {
    height: 63%;
    padding-top: 60px; 
}
.info2 {
    color: #99CA3C;
    font-weight: bold;
    font-size: 27px;
    font-style: oblique;
}
.info3 {
    color: #99CA3C;
    font-weight: bold;
    font-size: 27px;
    font-style: oblique;
    margin-left: 25px;
    /*margin-top: 20px;*/
    float: left;
}
.ban {
    float: right;
    /*margin-right: 14px;
    margin-top: -215px;*/
    position: relative;
    margin-right: 3%;
    margin-top: -24%;
}
.roll {
    float: right;
    margin-right: 100px;
    margin-top: -49px;
}
.info4 {
    color: #99CA3C;
    font-weight: bold;
    font-size: 27px;
    font-style: oblique;
    margin-left: 25px;
    float: left;
    /*margin-top: 10px;*/
}
.info5 {
    color: #99CA3C;
    font-weight: bold;
    font-size: 27px;
    font-style: oblique;
    margin-left: 25px;
    float: left;
    /*margin-top: 10px;*/
 }
.info6 {
    color: #99CA3C;
    font-weight: bold;
    font-size: 27px;
    font-style: oblique;
    margin-left: 25px;
    float: left;
    /*margin-top: 10px;*/
 }
.info7 {
    color: #99CA3C;
    font-weight: bold;
    font-size: 27px;
    font-style: oblique;
    margin-left: 25px;
    float: left;
    /*margin-top: 10px;*/
}
.percnt {
    margin-top: 20px;
}
table, td, th, tr {
    border: 2px double black;
    /*background-color: lightblue;*/
    /*margin: 0 auto;
    width: 300px;*/
    font-style: oblique;
    text-align: center;
}